VITE_APPWRITE_PROJECT_ID = xxxxxxx
VITE_APPWRITE_PROJECT_NAME = xxxxxxx
VITE_APPWRITE_ENDPOINT = xxxxx
VITE_APPWRITE_DATABASE_ID = xxxxxxx

VITE_APPWRITE_USERS_COLLECTION_ID= xxxxx
VITE_APPWRITE_CALL_LOGS_COLLECTION_ID= xxxxx
VITE_APPWRITE_SMS_LOGS_COLLECTION_ID= xxxxx
VITE_APPWRITE_DEVICES_COLLECTION_ID= xxxxx
VITE_APPWRITE_ACTIVITY_LOGS_COLLECTION_ID= xxxxx
VITE_APPWRITE_SUPPORT_TICKETS_COLLECTION_ID= xxxxx
