# Built-in Android Studio / IntelliJ files
.idea/
*.iml
.gradle/
build/
capture/
local.properties

# Gradle caches and outputs
.navigation/
.externalNativeBuild/
.cxx/
*.apk
*.aar
*.bundle

# Android Studio local user settings
~*
*.log
*.swp
*.bak

# Device / Emulator files
*.hprof

# OS specific files
.DS_Store
Thumbs.db

# Security & Secrets (Never commit these!)
*.keystore
*.jks
*.p1m
*.p12
*.pfx
secrets.properties
local.properties
